.imagery
{
    background:none;

    .bkgd
    {
        z-index: -1;
        position: absolute;
        opacity: 0.4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;

        img
        {
            height: 100%;
        }
    }

    .bigtitle
    {
        font-size: 450%;
        color: #7FFF00;
        text-align: center;
        text-shadow: 1px 1px 0px #005555,
                    -1px 1px 0px #009999,
                    1px -1px 0px #009999,
                    -1px -1px 0px #009999,
                    2px 2px 3px #00CD55,
                    -2px 2px 3px #00CD55,
                    2px -2px 3px #00CD55,
                    -2px -2px 3px #00CD55;
        font-family: 'Lato';
    }

    .tabeverything
    {
        background: none;
        border-radius: 5%;
    }

    .nav-tabs
    {
        border: none;
        background: none;
    }

    .nav
    {
        .tabselector
        {
            width: 20%;
            text-align: center;
            font-family: 'Lato';
            border-top: 4px ridge #009944;

            a
            {
                color: #00CC09;
                text-shadow: 1px 1px 1px #0000FF,
                            -1px -1px 1px #0000FF;
                font-size: 150%;
                border: ridge transparent;
                
                &:hover
                {
                    background: #222222;
                    opacity: .75;
                    border-color: green;
                    color: #00CC09;
                    border-radius: 0% 0% 55% 55%;
                    border: ridge green;
                }
            }
        }


        li.active
        {
            opacity: .6;
            background: black;
            border-radius: 0% 0% 55% 55%;
            color: #00CC09;
            text-shadow: 1px 1px 1px #0000FF,
                        -1px -1px 1px #0000FF;
            border: groove green;
            border-top: 1px solid black;
        }

        li.active a, .tabselector a:focus
        {
            background: none;
            border-color: transparent;
            color: #00CC09;
            text-shadow: 1px 1px 1px #0000FF,
                        -1px -1px 1px #0000FF;
        }
    }

    .tabbody_title
    {
        text-align: center;
        font-family: 'Lato:bold';
        font-size: 375%;
        color: #00FF99;
        text-decoration: underline;
        text-shadow: -1px 1px 1px #321321,
                    1px -1px 1px #123123,
                    1px 1px 5px #000000,
                    -1px -1px 5px #000000;
    }

    .tabbody_info
    {
        text-align: center;
        padding: 0 10% 5% 5%;
        font-family: 'Lato:bold';
        font-size: 200%;
        text-shadow: -1px 1px 2px #559955,
                    1px -1px 2px #00DF00,
                    1px 1px 1px #000000,
                    1px -1px 1px #000000,
                    -1px 1px 1px #000000,
                    -1px -1px 1px #000000;
        color: #00CE55;
        border: none;
    }

    #emblem
    {
        video
        {
            width: 67%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        img
        {
            width: 67%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .row
        {
            display: table;
            width: 100%;

            div
            {
                float: none;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }
    }
}
