.portfolio
{
    background: radial-gradient(#778877, #337755, #336633, #335511, #113311, #092909);
}

.imagery
{
    .bigtitle
    {
        padding-top: 75px;
        padding-bottom: 25px;
        font-size: 65pt;
        color: #7FFF00;
        text-align: center;
        text-shadow: 1px 1px 0px #005555,
                    -1px 1px 0px #009999,
                    1px -1px 0px #009999,
                    -1px -1px 0px #009999,
                    2px 2px 3px #00CD55,
                    -2px 2px 3px #00CD55,
                    2px -2px 3px #00CD55,
                    -2px -2px 3px #00CD55;
    }

    .tabeverything
    {
        background: none;
        border-radius: 5%;
    }

    .nav-tabs
    {
        border: none;
        background: none;
    }

    .nav
    {
        position: fixed;
        width: 100%;
        z-index: 1;
        
        .tabselector
        {
            width: 20%;
            text-align: center;
            padding: 0;
            z-index: 5;

            a
            {
                background: #002209;
                color: #00CC09;
                text-shadow: 1px 1px 1px #0000FF,
                            -1px -1px 1px #0000FF;
                font-size: 150%;
                border-color: green;
                border-radius: 0% 0% 55% 55%;
                
                &:hover
                {
                    background: #222222;
                    opacity: .85;
                    color: #00CC09;
                    border: ridge green;
                }
            }
        }


        li.active
        {
            opacity: 0.9;
            background: black;
            border-radius: 0% 0% 55% 55%;
            color: #00CC09;
            text-shadow: 1px 1px 1px #0000FF,
                        -1px -1px 1px #0000FF;
            border: groove green;
            border-top: 4px ridge #009944;
            
            a
            {
                background: none;
                border: ridge transparent;
                color: #00CC09;
                text-shadow: 1px 1px 1px #0000FF,
                            -1px -1px 1px #0000FF;
                
                &:hover
                {
                    background: none;
                    opacity: 1;
                    border: ridge black;
                }
            }
        }
    }

    .tabbody_title
    {
        text-align: center;
        font-size: 375%;
        color: #00FF99;
        text-decoration: underline;
        text-shadow: -1px 1px 1px #321321,
                    1px -1px 1px #123123,
                    1px 1px 5px #000000,
                    -1px -1px 5px #000000;
    }

    .tabbody_info
    {
        text-align: center;
        padding: 0 10% 5% 5%;
        font-size: 200%;
        text-shadow: -1px 1px 2px #559955,
                    1px -1px 2px #00DF00,
                    1px 1px 1px #000000,
                    1px -1px 1px #000000,
                    -1px 1px 1px #000000,
                    -1px -1px 1px #000000;
        color: #00CE55;
        border: none;
    }

    .lead
    {
        color: #CCDDFF;
        text-shadow: 1px 1px 5px black;
    }

    #emblem
    {
        video
        {
            width: 67%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        img
        {
            width: 67%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .row
        {
            display: table;
            width: 100%;

            div
            {
                float: none;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }
    }

    #icon
    {
        text-align: center;

        img
        {
            display: inline;
        }
    }
}
