.homepage .lead
{
    padding-left: 2em;
    text-indent: 2em;
}

.homepage .link
{
    color: #000000
}

.homepage .bio
{
    display: None;
}

.homepage .header
{
    padding-right: 2%;
}

.homepage .myName
{
    color: #006688;
    font-size: 700%;
    text-align: center;
    display: None;
}

.homepage .workGroup
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
}

.homepage .titleBtn
{
    background: none;
    box-shadow: 0px 10px 15px #000000;
    border: none;
}

.homepage .titleBtn:hover
{
    background: #CAE1FF;
    opacity: .5;
}

.homepage .workList
{
    width: 100%;
    background: none;
    border: none;
    box-shadow: 0px .5em 2em #000055;
}

.homepage .workName
{
    padding: 0em;
    text-align: center;
}

.homepage .about, .homepage .work
{
    color: .003377;
    font-size: 375%;
    text-align: center;
}

.homepage .cs184
{
    text-align: center;
}

.homepage .mePhoto
{
    width: 100%;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    top: 10px;
    display: none;
}


.homepage .meInfo
{
    width: 100%;
    height: 100%;
    top: 5px;
    position: absolute;
    z-index: 1;
    content: "";
    margin: 0;
}

.homepage .info
{
    display: none;
}

.homepage .bgImage
{
    background: url('./resources/logo.png');
    background-size: contain;
    background-repeat: repeat;
    background-position: left;
    opacity: 1;
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
}

.homepage .logo
{
    width: 1%;
    height: 1%;
    z-index: -1;
    position: absolute;
    opacity: 0.15;
    margin-left: 50%;
    padding-left: 50%;
}

.homepage .bottomText
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    text-align: center;
    font-size: 75%;
}
