.pictures .bkgd
{
    z-index: -1;
    position: absolute;
    opacity: 1.4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
}

.pictures .bkgd img
{
    width: 100%;
}

.pictures
{
    background:none;
}

.pictures .bigtitle
{
    font-size: 450%;
    color: #7FFF00;
    text-align: center;
    text-shadow: 1px 1px 0px #005555,
                -1px 1px 0px #009999,
                1px -1px 0px #009999,
                -1px -1px 0px #009999,
                2px 2px 3px #00CD55,
                -2px 2px 3px #00CD55,
                2px -2px 3px #00CD55,
                -2px -2px 3px #00CD55;
    font-family: 'Lato';
}

.pictures .tabeverything
{
    background: none;
    border-radius: 5%;
}

.pictures .nav-tabs
{
    border: none;
    background: none;
}

.pictures .nav .tabselector
{
    width: 20%;
    text-align: center;
    font-family: 'Lato';
    border-bottom: 4px ridge #009944;
}

.pictures .nav .tabselector a
{
    color: #00CC09;
    text-shadow: 1px 1px 1px #0000FF,
                -1px -1px 1px #0000FF;
    font-size: 150%;
    border: ridge transparent;
}

.pictures .nav .tabselector a:hover
{
    background: #222222;
    opacity: .75;
    border-color: green;
    color: #00CC09;
    border-radius: 55% 55% 0% 0%;
    border: ridge green;
}

.pictures .nav li.active
{
    opacity: .6;
    background: black;
    border-radius: 55% 55% 0% 0%;
    color: #00CC09;
    text-shadow: 1px 1px 1px #0000FF,
                -1px -1px 1px #0000FF;
    border: groove green;
    border-bottom: 1px solid black;
}

.pictures .nav li.active a, .pictures .nav .tabselector a:focus
{
    background: none;
    border-color: transparent;
    color: #00CC09;
    text-shadow: 1px 1px 1px #0000FF,
                -1px -1px 1px #0000FF;
}

.pictures .tabbody_title
{
    text-align: center;
    font-family: 'Lato:bold';
    font-size: 375%;
    color: #00FF99;
    text-decoration: underline;
    text-shadow: -1px 1px 1px #321321,
                1px -1px 1px #123123,
                1px 1px 5px #000000,
                -1px -1px 5px #000000;
}

.pictures .tabbody_info
{
    text-align: center;
    padding: 0 10% 5% 5%;
    font-family: 'Lato:bold';
    font-size: 200%;
    text-shadow: -1px 1px 2px #559955,
                1px -1px 2px #00DF00,
                1px 1px 1px #000000,
                1px -1px 1px #000000,
                -1px 1px 1px #000000,
                -1px -1px 1px #000000;
    color: #00CE55;
    border: none;
}

.pictures .botText
{
    filter: invert(100%);
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 75%;
    z-index: 10;
}

.pictures .back
{
    filter: invert(100%);
    padding: 0;
    margin: 0;
    top: 0%;
    right: 2.5%;
    width: 100%;
    height: 5%;
    position: absolute;
    font-size: 100%;
    text-align: right;
    background: none;
    z-index: 10;
}
