.as4 .container-fluid
{
    background: url("./media/bkgd.png");
    width: 100%;
}

.as4 .overallTitle
{
    text-align: center;
    font-size: 500%;
    color: #63c3e7;
    padding-top: .3em;
    text-shadow: 0px 0px 1em #F3F315;
}

.as4 .introSum
{
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    padding: 3px;
    color: #00c5ff;
    text-shadow: 0px 0px 1em #0c0cea;
}

.as4 .perTitle
{
    text-align: center;
    color: #cc66ff;
    text-shadow: 1px 1px 1em #ea00ff;
    font-size: 300%;
}

.as4 .perComs
{
    text-indent: 2em;
    margin-left: 6em;
    margin-right: 6em;
    display: none;
    color: #00c5ff;
    text-shadow: 0px 0px 1em #15ff00;
}

.as4 .vid
{
    width: 67%;
}
